<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>Dictionary Page</head>
    <body>
        <h1>Choose Dictionary</h1>
        <form th:action="@{/}" method="post">
            <select class="form-control" name="dictionaryName">
                <option th:value="Dictionary1" th:text="Dictionary1"/>
                <option th:value="Dictionary2" th:text="Dictionary2"/>
            </select>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>