<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        Records Page
        <style>
            .collapsible {
                background-color: #777;
                color: white;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
            }

            .active, .collapsible:hover {
                background-color: #555;
            }

            .content {
                padding: 0 18px;
                display: none;
                overflow: hidden;
                background-color: #f1f1f1;
            }
        </style>
        </head>
    <body>
    <h1>Records page</h1>
    <div th:each="record : ${records}">
        <button type="button" class="collapsible" th:text="'Key = ' + ${record.key}"/>
        <div class="content">
            <p th:text="'ID = ' + ${record.id} + ', Value = ' + ${record.value}"/>
        </div>
    </div>

    <a href="/menu">Back to menu</a>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
    </body>
</html>